/* 
.campus-infos-title {
    background-color: var(--bs-primary);
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.campus-infos-title:hover {
    transform: scale(1.07);
}
.campus-infos-title.active {
    background-color: darkcyan;
} */
